.header {
    background: #ffffff;
    border-bottom: 1px solid #000;
    border-color: #e5e2e2;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
}

.header__logo {
    color: #867d7d;
    text-decoration: none;
    font-weight: lighter;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.confirm__content {
    margin: 0 auto;
        padding: 30px 15px;
        max-width: 1230px;
    }

.confirm__heading {
    color: #867d7d;
        margin-bottom: 40px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: bold;

    }

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #eccfa2;
    font-weight: bold;
    color: #ffffff;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #9d846a;
}
.confirm-table__text input {
    width: 70%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
