.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}


.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form__button-submit {
        text-align: center;
        padding: 10px;
        width: 20%;
        height: 50px;
        border: none;
        border-radius: 3px;
        background: #776a6a;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
}
